#container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

table {
    border: 3px solid #25567B;
    background-color: #25567B;
}

th, td {
    background-color: #99C2E1;
    width: 30px;
    height: 30px;
}

#shipBoardContainer, #shootingBoardContainer {
    display: inline-block;
    margin: 0 15px;
}

#shootingBoard td.empty {
    cursor: pointer;
}

#new-game__button {
    background-color: #FF9200;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin: 20px 0;
}

.missed {
    background-color: gray;
}

.ship {
    background-color: green;
}

.hit-ship {
    background-color: darkorange;
}

.killed-ship {
    background-color: red;
}

#victory {
    color: green;
}

#defeat {
    color: red;
}
